@tailwind base;
@tailwind components;
@tailwind utilities;


.modal{
  margin-right: auto;
  margin-left: auto;
  height: fit-content;
  width: fit-content;
  margin: auto !important;
}



.Toastify__toast-theme--dark{
  background: #46474a !important;
  margin-top: 3em;
}

.Toastify__progress-bar-theme--dark {
  background: #bdbbbb !important;
}